*.html
*.pdf
*.redxml
*.swp
*.txt
*.upload
*~
.DS_Store
.idea
.tags
/*-[0-9][0-9].xml
/.gems/
/.refcache
/.targets.mk
/.venv/
/.vscode/
/lib
/node_modules/
/versioned/
Gemfile.lock
archive.json
draft-ietf-jose-json-proof-algorithms.xml
draft-ietf-jose-json-proof-token.xml
draft-ietf-jose-json-web-proof.xml
package-lock.json
pairing_crypto
report.xml
!requirements.txt
